{% extends 'base.html' %}

{% block title %}EUR payment{% endblock %}

{% block content %}
    <section>
        <h2>Confirm payment</h2>
        <form name="Pay" method="post" action="https://pay.piastrix.com/en/pay" accept-charset="UTF-8">
            <input type="hidden" name="amount" value="10.00"/>
            <input type="hidden" name="currency" value="643"/>
            <input type="hidden" name="shop_id" value="1"/>
            <input type="hidden" name="sign" value="2a966c9942652c115640f584b101f4124a8c44e9f119b449195beacf539e98b9"/>
            <input type="hidden" name="shop_order_id" value="101"/>
            <input type="submit"/>
            <input type="hidden" name="description" value="Test invoice"/>
        </form>
    </section>
{% endblock %}