{% extends 'base.html' %}

{% block title %}EUR payment{% endblock %}

{% block content %}
    <section>
        <h2>Confirm the payment #{{ shop_order_id }}</h2>
        <p>{{ amount/100 }}€</p>
        <p> Description: {{ description }} </p>
        <form name="Pay" method="post" action="https://pay.piastrix.com/en/pay" accept-charset="UTF-8">
            <input type="hidden" name="amount" value="{{ amount/100 }}"/>
            <input type="hidden" name="currency" value="{{ currency }}"/>
            <input type="hidden" name="shop_id" value="{{ shop_id }}"/>
            <input type="hidden" name="sign" value="{{ sha256hash }}"/>
            <input type="hidden" name="shop_order_id" value="{{ shop_order_id }}"/>
            <input type="submit"/>
            <input type="hidden" name="description" value="{{ description }}"/>
        </form>
    </section>
{% endblock %}